nav{

position: fixed;


}



a img{
    width: 100%;
    height: 100%;
    margin-left: 10px;
}
li a{font-size: 20px;
margin: px;
margin-right: 10px;
/* margin-right: 20px; */
color: red;


}
 a:hover{
color: red;


}
img.one{

margin-top: 120px;
height: 50%;
margin-bottom: 100px;
}
hr{
    color: red;
    /* width: 20%; */
    /* margin-left: 440px; */
    
}


.two{
font-size: 60px;


}
.ten{
    width: 100%;
    height: 100%;
}
.nine{ 
width: 90%;
height: auto;
margin-top: 100px;

} 
.six{
height: 400px;
width: 90%;




}
.zero img{width: 4%; margin: 30px;
margin-top: 60px;



}
.nav-item{
    color: red;
}
.navbar{box-shadow: 0 20px 20px rgba(0,0,0,0.1);}
.header{
    width: 100%;
   background-image: url(image2.jpg);
   
}